<mat-card>
    <mat-card-header fxLayoutAlign="center">                
        <mat-card-subtitle><h2>Catégorie</h2></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-select placeholder="Mois" (selectionChange)="onMonthChanged($event)" (change)="onMonthChanged($event)" [(value)]="selected">
              <mat-option *ngFor="let cat of categories" [value]="cat.categoryDate" >
                {{cat.categoryName}}
              </mat-option>
            </mat-select>
        </mat-form-field>
          
        <div class="w-100 h-300p" #resizedDiv>
            <ngx-charts-pie-chart
                [scheme]="colorScheme"
                [results]="data"
                [legend]="showLegend"
                [labels]="showLabels"
                [gradient]="gradient"
                (select)="onSelect($event)">

            </ngx-charts-pie-chart>   
        </div>
    </mat-card-content>
</mat-card>
