<!-- https://swimlane.gitbook.io/ngx-charts/ -->
<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="40" class="flex-p"> 
        <app-spent-by-category
        [expanseByMonth]="expanseByMonth"
        [rows]="rows"
        [categories]="categories">
      </app-spent-by-category>
    </div>
     <div fxFlex="100" fxFlex.gt-sm="60" class="flex-p">
     <app-chart-spent
          [expanseByMonth]="expanseByMonth"
          (selectMonthEvent)="onSelectMonthEvent($event)"
          [rows]="rows">
        </app-chart-spent>
    </div> 
</div>
<div fxLayout="column">
    <div fxFlex="100" class="flex-p"> 
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="8" class="flex-p" *ngIf="selectedCategory != null"> 
        
                <mat-form-field>
                  <mat-select placeholder="Mois" (selectionChange)="onMonthChanged($event)" (change)="onMonthChanged($event)" [(value)]="selectedCategory">
                    <mat-option *ngFor="let cat of categories" [value]="cat.categoryDate" >
                      {{cat.categoryName}}
                    </mat-option>
                  </mat-select>
          
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="5" class="flex-p" *ngIf="selectedCategory != null"> 
                <button mat-icon-button (click)="eraseFilter()"><mat-icon>delete</mat-icon></button>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="5" class="flex-p" *ngIf="selectedCategory != null"> 
                Montant total : {{monthTotalAmount | numberfr : '1.2-2':'fr'}} €
            </div>

            <div fxFlex="100" fxFlex.gt-sm="100" class="flex-p" *ngIf="selectedCategory == null">
                <div fxLayout="column" class="mat-elevation-z8">           
                    <mat-form-field class="p-1">
                        <input matInput placeholder="Type to filter the name column..." (keyup)="updateFilter($event)">
                    </mat-form-field>
                </div>
        
            </div>
        </div>

        <!-- striped expandable-->
        <ngx-datatable
            #table
            class="material striped"
            [headerHeight]="50"
            [limit]="limitTable"
            [columnMode]="'force'"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="rows"
            [columnMode]="'force'"
            [loadingIndicator]="loadingIndicator"
            [selected]="selected"
            [selectionType]="'checkbox'"
            (activate)="onActivate($event)"
            (select)='onSelect($event)'
            [rowClass]="getRowClass"
            >

            <ngx-datatable-column name="carte">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="date">
                <ng-template ngx-datatable-cell-template let-value="value">
                  {{value | date: 'dd/MM/yyyy'}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="ordre">
                <ng-template ngx-datatable-cell-template let-value="value">
                  {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="montant">
                <ng-template ngx-datatable-cell-template let-value="value">
                  {{value | number : '1.2-2'}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="categorie">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <span
                  title="Double click to edit"
                  (dblclick)="editing[rowIndex + '-gender'] = true"
                  *ngIf="!editing[rowIndex + '-gender']">
                  {{value}}
                </span>
                <select
                  *ngIf="editing[rowIndex + '-gender']"
                  (change)="updateValue($event, 'gender', rowIndex)"
                  [value]="value">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column name="description">
                <ng-template ngx-datatable-cell-template let-value="value">
                  {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-row-detail [rowHeight]="10" #myDetailRow>
                <ng-template let-row="row" ngx-datatable-row-detail-template>
                  <div><strong>Address</strong></div>
                  <div>{{row.address.city}}, {{row.address.state}}</div>
                </ng-template>
              </ngx-datatable-row-detail>
             

        </ngx-datatable>
    </div>
</div>

<ng-template #empty> Pas de donnée disponible </ng-template>