<mat-card>
        <mat-card-header fxLayoutAlign="center">                
            <mat-card-subtitle><h2>Dépenses par mois</h2></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="w-100 h-300p" #resizedDiv>
                <ngx-charts-line-chart
                    [scheme]="colorScheme"
                    [results]="datasByMonth"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="showLegend"
                    [showXAxisLabel]="false"
                    [showYAxisLabel]="false"
                    [autoScale]="autoScale"
                    (select)="onSelect($event)"
                    [xAxisTickFormatting]="dateTickFormatting"
                    [yAxisTickFormatting]="yTickFormatting"
                    [timeline]="true"
                    [yScaleMin]="0"
                    [yScaleMax]="3000"
                    [showRefLines]="true"
                    (click)="onSelect($event)">
                    <ng-template #tooltipTemplate let-model="model">
                        <pre>{{model.name | date :'MMM/yyyy'}}<br>{{model.value | numberfr}} €</pre>
                    </ng-template>
                </ngx-charts-line-chart>                       
            </div>
        </mat-card-content>
</mat-card>
<!-- [legendTitle]="Cartes" -->
                    
