<mat-card>
    <mat-card-header fxLayoutAlign="center">                
        <mat-card-subtitle><h2>{{titleGraph}}</h2></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="w-100 h-300p" #resizedDiv>
            <!-- <ngx-charts-line-chart 
                [scheme]="colorScheme"
                [results]="analytics"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [autoScale]="autoScale"
                [roundDomains]="roundDomains"
                (select)="onSelect($event)">
            </ngx-charts-line-chart>             -->
            <!-- [legendPosition]="right" 
            *ngIf="chartType === 'bar-vertical-2d'"
            [schemeType]="schemeType"
[animations]="animations"
                [gradient]="gradient"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [tooltipDisabled]="tooltipDisabled"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (legendLabelClick)="onLegendLabelClick($event)"
                [showGridLines]="showGridLines"
                [roundDomains]="roundDomains"
                [roundEdges]="roundEdges"
                [yScaleMax]="yScaleMax"
                [showDataLabel]="showDataLabel"
                (select)="select($event)"
                [view]="view"
                [legendTitle]="legendTitle"

                -->
            

            <ngx-charts-bar-vertical-2d
                class="chart-container"
                [scheme]="colorScheme"
                [results]="expanseDatas"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="true"
                
                [barPadding]="1"
                [groupPadding]="3">
                <ng-template #tooltipTemplate let-model="model">
                        <pre>{{model.name != 'km' ? model.name : ''}}<br>{{model.value | number : '1.2-2'}} {{model.name === 'depenses' ? '€' : (model.name === 'km' ? 'km' : 'l') }}</pre>
                </ng-template>

            </ngx-charts-bar-vertical-2d>
        </div>
    </mat-card-content>
</mat-card>