
<app-info-fuel 
    [fuelEvolution]="fuelEvolution"
    [kmEvolution]="kmEvolution">
</app-info-fuel>

<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="35" class="flex-p"> 
        <app-chart-fuel
                [expanseDatas]="expanseDatas"
                titleGraph="Comparatif annuel">
        </app-chart-fuel>

    </div>
    <div fxFlex="100" fxFlex.gt-sm="35" class="flex-p"> 
 
                <app-chart-fuel
                    [expanseDatas]="kmDatas"
                    titleGraph="Kilométrage annuel">
                </app-chart-fuel>
    </div>
    
  <div fxFlex="100" fxFlex.gt-sm="30" fxLayout="column">
    <div fxFlex="100" class="flex-p">
        <mat-card>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="muted-text">
                <mat-icon class="icon-lg">calendar_today</mat-icon>
                <div>
                    <h1>{{lastUpdateDate | date : 'dd/MM/yyyy'}}</h1>
                    <h2 class="fw-400">Date</h2>
                </div>                
            </div>            
        </mat-card>
    </div>
    <div fxFlex="100" class="flex-p">
          <mat-card>
              <div fxLayout="row" fxLayoutAlign="space-between center" class="muted-text">
                  <mat-icon class="icon-lg">commute</mat-icon>
                  <div>
                      <h1>{{lastUpdateKm | numberfr}} km</h1>
                      <h2 class="fw-400">Kilométrage</h2>
                  </div>                
              </div>            
          </mat-card>
      </div>
      <div fxFlex="100" class="flex-p">
          <mat-card>
              <div fxLayout="row" fxLayoutAlign="space-between center" class="muted-text">
                  <mat-icon class="icon-lg">euro_symbol</mat-icon>
                  <div>
                      <h1>{{lastUpdatePriceLiter}} €/l</h1>
                      <h2 class="fw-400">Prix au litre</h2>
                  </div>                
              </div>            
          </mat-card>
      </div>       
  </div>
</div>

<div fxLayout="column">
    <div class="flex-p"> 
        <!--<div fxLayout="column" class="mat-elevation-z8">           
            <mat-form-field class="p-1">
                <input matInput placeholder="Type to filter the name column..." (keyup)="updateFilter($event)">
            </mat-form-field>
        </div>-->
        <ngx-datatable
            #table
            class="material"
            [headerHeight]="50"
            [limit]="10"
            [columnMode]="'force'"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="rows"
            [rows]
            [loadingIndicator]="loadingIndicator"
            [selected]="selected"
            [selectionType]="'checkbox'"
            (activate)="onActivate($event)"
            (select)='onSelect($event)'>
            
            <ngx-datatable-column name="Date">
                <ng-template ngx-datatable-cell-template let-value="value">
                  {{value | date: 'dd/MM/yyyy'}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Montant">
                <ng-template ngx-datatable-cell-template let-value="value">
                  {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Kilometrage">
                <ng-template ngx-datatable-cell-template let-value="value">
                  {{value | numberfr}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Litre">
                <ng-template ngx-datatable-cell-template let-value="value">
                  {{value}}
                </ng-template>
            </ngx-datatable-column>
          <!--
            <ngx-datatable-column name="Voiture">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
          </ngx-datatable-column>-->
          <ngx-datatable-column name="Carburant">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
    </div>
</div>

<ng-template #empty> No Customers Yet </ng-template>